/*
 * Waybar configuration
 */

/* Import the pywal-generated colors */
@import url("__HOME__/.cache/wal/colors-waybar.css");

window#waybar {
    background: @background;
    color: @foreground;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
    border: none;
    border-radius: 10px;
}

#workspaces button.active {
    background: @color1;
    color: @background;
}

#pulseaudio,
#network,
#cpu,
#memory,
#clock {
    padding: 0 10px;
}
